{% extends 'general/base.html.twig' %}
{% block title %}تغییر کلمه عبور{% endblock %}
{% block plugin_body %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h1 class="text-primary">{{block('title') }}</h1>
            </div>
            <div class="card-body">
                {{ form_start(form,{'attr':{'class':'ajax-off'}}) }}
                    {{ form_end(form) }}
            </div>
        </div>        
    </div>
</div>
{% endblock %}