<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <meta name="Description" content="Hudron best project managment platform">
        <meta name="Author" content="TFS™">
        <meta name="Keywords" content="Hudron,project,manager"/>
        <title>هادرون - {% block title %}{% endblock %}</title>
        <!-- Favicon -->
        <link rel="icon" href="{{ asset('/assets/img/brand/favicon.png') }}" type="image/x-icon"/>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block app_page_header %}{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="main-body app sidebar-mini">
        <!-- Loader -->
        <div id="global-loader">
            <img src="/assets/img/loader.svg" class="loader-img" alt="Loader">
        </div>
        <!-- /Loader -->
        {% block body %}{% endblock %}
        {% block app_page_footer %}{% endblock %}
    </body>
</html>
